.BannerSuperior{
    background-color: #000000;
    color:#FFFFFF;

}

/* 
Poke Colors:
https://www.schemecolor.com/pokemon-colors.php#download 
#FFFFFF;
#000000;

#FF0000;
#CC0000;
#3B4CCA;
#FFDE00;
#B3A125;

*/