.BannerSuperior{
    background-color: #000000;
    color:#FFFFFF;

}

@media screen and (min-width: 1024px){
    .BannerPromo span {
        font-size: 0;
        display: block;
    }
}



/* 
Poke Colors:
https://www.schemecolor.com/pokemon-colors.php#download 
#FFFFFF;
#000000;

#FF0000;
#CC0000;
#3B4CCA;
#FFDE00;
#B3A125;

*/